apiVersion: apps/v1
kind: Deployment
metadata:
  name: mydeployment
  namespace: tools
  labels:
    app: ubuntudeployment
spec:
  replicas: 5  
  selector:
    matchLabels:
      app: ProjectDevops-app
  template:
    metadata:
      labels:
        app: ProjectDevops-app
    spec:
      containers:
      - name: mydeployment
        image: anarkatomica1996/imagenproject:0.0.7
        ports:
        - containerPort: 80
  strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1
        maxSurge: 1


